# Assignment_1 (Python Baiscs)

## Question-1 : Explain the key features of Python that make it a popular choice for programming.

### Solution :

#### Python is a popular choice for programming because for several reasons. Some of them are mentioned below:

#### Readability and Simplicity : Python's syntax is designed to be clean and easy to read and learn, which makes it friendly to beginners and helps developers to write clear, effective and easy maintainable code.

#### Versatility : Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming. This makes it adaptable to various types of real world projects.

#### Extensive Standard Library : Python comes with a rich standard library that provides modules and functions for many common tasks, from file I/O to networking. As per recent google search, there are about 137000 libraries in python and it is still increasing.

#### Strong Community Support : There is a  large and active community which is still increasing day by day. This means we have lots of  resources, tutorials, and third-party libraries which facilitates problem-solving and learning of python.

#### Interpreted Language : Python is an interpreted language, which means we can execute code line by line making it easier for understanding and debugging.

#### Dynamic Typing : Python is dynamically typed, meaning we don’t need to declare the type of a variable explicitly, which can speed up code development.

#### Integration Capabilities : It integrates well with other languages and technologies, and can be used to write script and automate tasks across different systems.

#### Supports multiple OS: Python runs on various operating systems like Windows, macOS, and Linux, allowing for cross-platform development.

________________________________

## Question-2 : Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

### Solution :

#### Predefined keywords can be defined as reserved words that have special meanings and purposes in the language. They are part of the syntax and cannot be used as identifiers (such as variable names, function names, or class names). Keywords help define the structure and control flow of a program.

#### Here's a brief overview of some common Python keywords and examples of how they are used:

#### 1. def : Used to define a function.

In [4]:
def greeting(name):
    return f"Hello, {name}!"
greeting("Ajay Sir")

'Hello, Ajay Sir!'

#### 2. if, elif, else : Used for conditional statements to execute code based on certain conditions.

In [5]:
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is 5")
else:
    print("x is less than 5")

x is greater than 5

#### 3. for : Used to create loops which iterate over a sequence

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

#### 4. while : Used to create loops which repeat as long as given condition is true

In [7]:
count = 1
while count < 5:
    print(count)
    count += 1

1
2
3
4

#### 5. import : Used to include external modules or libraries.

In [8]:
import math
print(math.sqrt(25))

5.0

#### 5. class: Used to define a new class.

In [12]:
class Employee: # Here, we define a class named "Employee"
    company = "Google"
    department = "IT"
    
e1 = Employee() # creating a object "e1" of class "Employee"
print(e1.company) # As, we already defined the company is "Google". So, by default the object e1 will belongs to same company i.e., Google

Google

#### 6. try, except, finally : Used for exception handling to manage errors that occur during execution.

In [13]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")
finally:
    print("This will always execute.")

You can't divide by zero!
This will always execute.

#### 7. return : Used to return a value from a function.

In [15]:
def add(a, b): # defining a function "add" to add two given numbers
    return a + b # returning the result

sum = add(4, 15) # passing values 4 and 15 to the function "add" 
print(sum) # print the result

19

#### As a conclusion, we can say that -
Each keyword serves a specific purpose and helps in writing clear, efficient, and readable code by defining structure and behavior in Python programs.

_____________________

## Question-3 : Compare and contrast mutable and immutable objects in Python with examples

### Solution :

#### In Python, objects can be classified as mutable or immutable based on whether their state can be modified after they are created.

#### -> Mutable Objects

#### Definition : Mutable objects can be defined as onjects which can be changed after they are created. Modifying the state of a mutable object does not create a new object but instead modify the existing one.

#### Examples : Lists, dictionaries, and sets are examples of mutable objects in Python.

#### Example of a mutable object (list) :

In [17]:
# Creating a list
my_list = [1, 2, 3]
print("Original list : ", my_list)

Original list :  [1, 2, 3]

In [18]:
# Modifying the list
my_list.append(4)
print("Modified list : ", my_list)

Modified list :  [1, 2, 3, 4]

#### NOTE : In the above discussed example, the list my_list is modified in place by appending an element. The original list object is changed, and no new list is created.

#### -> Immutable Objects

#### Definition : Immutable objects can be defined as objects which cannot be changed after they are created. Any operation that attempts to modify an immutable object will instead create a new object.

#### Examples : Tuples, strings, and integers are examples of immutable objects in Python.

#### Example of an immutable object (string) :

In [22]:
# Creating a string
my_string = "Ronaldo"
print("Original string:", my_string)

Original string: Ronaldo

In [23]:
# Modifying the string
new_string = my_string.replace("R", "J")
print("Modified string:", new_string)
print("Original string remains unchanged:", my_string)

Modified string: Jonaldo
Original string remains unchanged: Ronaldo

#### NOTE : In above discussed example, my_string remains unchanged after the replace method is called. Instead, a new string new_string is created with the modification.

#### Key Differences : ----

#### Mutability :

#### - Mutable objects can be changed in place.
#### - Immutable objects cannot be changed after creation; modifications result in new objects.

#### Performance :

#### - Mutables may offer better performance for large datasets or frequent modifications due to in-place changes.
#### - Immutables may be less efficient for modifications but can be advantageous in multi-threaded environments due to their unchangeable nature.

#### Use Cases :

#### - Mutables are typically used when we need to modify an object frequently (e.g., lists for dynamic collections).
#### - Immutables are used for fixed values that should not change (e.g., strings for constant text).

________________________________

## Question-4 : Discuss the different types of operators in Python and provide examples of how they are used.

### Solution :

#### In Python, operators can be defined as symbols used to perform operations on variables and values. Python supports several types of operators, each serving a different purpose. 
#### Here’s an overview of the main types of operators:

#### 1. Arithmetic Operators : Used to perform mathematical operations.

#### Addition (+) :

In [29]:
num1 = 20 # defining variable num1
num2 = 40 # defining variable num2
result = num1 + num2  # storing the output of addition to a variable named result
print(f"Sum of {num1} and {num2} is {result}") # printing the result

Sum of 20 and 40 is 60

#### Subtraction (-) :

In [36]:
num1 = 25
num2 = 5
subs_result = num1 - num2  # Substracting num2 from num1 and storing result in subs_result variable
print(subs_result) # printing the value stored in subs_result which is 25 - 5 = 20

20

#### Multiplication (*) :

In [38]:
mult_result = num1 * num2  # mult_result store the result of numtplication of num1 and num2 i.e., 25 * 5 = 125
print (mult_result) # printing the value stored in mult_result variable

125

#### Division (/) :

In [40]:
result = num1 / num2  # result is 25/5 = 5.0
print(result)  # printing the result

5.0

#### Floor Division (//) :

In [41]:
result = num1 // num2  # result stores integer value which is nearest one after doing the division.
print(result) # printing the result variable

5

#### Modulus (%) :

In [43]:
result = num1 % num2  # result stores the remainder value after dividing num1 by num2
print(result) # printing the result

0

#### Exponentiation (**) :

In [47]:
result = num1 ** num2  # result stores 9765625 (25 raised to the power of 5)
print(f"{num1} & {num2} -> {result}") # printing the result variable

25 & 5 -> 9765625

#### 2. Comparison Operators : Used to compare two values and return a boolean result (True or False).

#### Equal to (==) :

In [49]:
num1 = 100
num2 = 50
result = (num1 == num2)  # result is False as "a" is not equal to "b" or, 100 not equal to 50
print(result)

False

#### Not equal to (!=) :

In [51]:
result = (num1 != num2)  # result is True as num1 is not equal to num2
print(result)

True

#### Greater than (>) :

In [52]:
result = (num1 > num2)  # result is True as num1 is greater than num2
print(result)

True

#### Less than (<) :

In [55]:
result = (num1 < num2)  # result is False as num1 is not less than num2
print(result)

False

#### Greater than or equal to (>=) :

In [58]:
result = (num1 >= num2)  # result is True as num1 is greater than num2
print(result)

True

#### Less than or equal to (<=) :

In [59]:
result = (num1 <= num2)  # result is False as num1 is not less than equal to num2
print(result)

False

#### 3. Logical Operators : Used to perform logical operations.

#### And (and) :

In [61]:
result = (num1 > 0 and num2 > 0)  # result is True as both conditions are true
print(result)

True

#### Or (or) :

In [62]:
result = (num1 > 0 or num2 < 0)  # result is True as one of the givn conditions is true
print(result)

True

#### Not (not) :

In [63]:
result = not (num1 > 0)  # result is False as num1 is greater than 0. So, not of true is false
print(result)

False

#### 4. Assignment Operators : Used to assign values to variables.

#### Assign (=) :

In [65]:
num1 = 10 # here, we are assigning num1 variable wwith value 10
print(num1)

10

#### Add and assign (+=) :

In [66]:
num1 += 5  # Equivalent to num1 = num1 + 5, so a becomes 15
print(num1)

15

#### Subtract and assign (-=) :

In [67]:
num1 -= 3  # Equivalent to num1 = num1 - 3, so a becomes 12
print(num1)

12

#### Multiply and assign (*=) :

In [69]:
num1 *= 4  # Equivalent to num1 = num1 * 4, so a becomes 48
print(num1)

48

#### Divide and assign (/=) :

In [76]:
num1 /= 6 # Equivalent to num1 = num1 / 6, so it becomes 8.0
print(num1)

8.0

#### Modulus and assign (%=) :

In [78]:
num1 %= 2  # Equivalent to num1 = num1 % 3, so a becomes 0
print(num1)

0.0

#### Exponent and assign (**=) :

In [80]:
num1 = 4
num1 **= 2  # Equivalent to num1 = num1 ** 2, so a becomes 16
print(num1)

16

#### Floor divide and assign (//=) :

In [81]:
num1 //= 3  # Equivalent to num1 = num1 // 3, so a becomes 5 (16 // 3 = 5)
print(num1)

5

#### 5. Bitwise Operators : Operate on binary representations of numbers.

#### And (&) :

In [83]:
result = 10 & 4  # result is 0 (binary 1010 & 0100 = 0000)
print(result)

0

#### Or (|) :

In [84]:
result = 10 | 4  # result is 14 (binary 1010 | 0100 = 1110)
print(result)

14

#### Xor (^) :

In [85]:
result = 10 ^ 4  # result is 14 (binary 1010 ^ 0100 = 1110)
print(result)

14

#### Complement (~) :

In [86]:
result = ~10  # result is -11 (binary complement of 10)
print(result)

-11

#### Left shift (<<) :

In [87]:
result = 10 << 2  # result is 40 (binary shift left by 2 places i.e, 1010 when shited left by 2 places becomes 101000 which is 40)
print(result)

40

#### Right shift (>>) :

In [88]:
result = 10 >> 2  # result is 2 (binary shift right by 2 places i.e, 1010 when shited right by 2 places becomes 0010 which is 2)
print(result)

2

#### 6. Membership Operators : Used to test membership in sequences like lists, tuples, and strings.

#### In (in) :

In [90]:
result = 45 in [25, 45, 99]  # result is True as list is having 10
print(result)

True

#### Not in (not in) :

In [91]:
result = 67 not in [25, 45, 99]  # result is True as 67 is not present in the list
print(result)

True

#### 7. Identity Operators : Used to compare the memory locations of two objects.

#### Is (is) :

In [94]:
var1 = [1, 2, 3,4,5]
var2 = var1
result = (var1 is var2)  # result is True as both var1 and var2 are refering same list present at a particular location 
print(result)

True

#### Is not (is not) :

In [95]:
var3 = [1, 2, 3,4,5]
result = (var1 is not var3)  # result is True because both the lists can be same but they are not present at the same location in the memory
print(result)

True

___________________________________________

## Question-5 : 5. Explain the concept of type casting in Python with examples.

### Solution :

#### Type casting can be defined as a process of converting a value from one data type to another.
####  It is also known as type conversion.

#### Here are some common type casting functions in Python and examples of how they are used :

#### 1. Integer (int()) : Converts a value to an integer. 
#### This can be used with floating-point numbers, strings, and other numeric types.

In [98]:
# Convert float to int
float_value = 10.56
int_value = int(float_value)  # int_value is 10 (truncates the decimal part)
print(int_value)
print(type(int_value))

10
<class 'int'>

In [102]:
# Convert string to int
string_value = "999"
int_value = int(string_value)  # string_value "999" is converted to integer & stored in int_value
print(int_value)
print(type(int_value))

999
<class 'int'>

#### 2. Float (float()) : Converts a value to a floating-point number. 
#### This can be used with integers, strings, and other numeric types.

In [103]:
# Convert int to float
int_value = 100
float_value = float(int_value)  # float_value is 100.0
print(float_value)
print(type(float_value))

100.0
<class 'float'>

In [105]:
# Convert string to float
string_value = "5.11"
float_value = float(string_value)  #  string_value "5.11" is converted to float & stored in float_value variable
print(float_value)
print(type(float_value))

5.11
<class 'float'>

#### 3. String (str()) : Converts a value to a string.
#### This can be used with integers, floats, and other data types.

In [107]:
# Convert int to string
int_value = 26
string_value = str(int_value)  # string_value is "26"
print(string_value)
print(type(string_value))

26
<class 'str'>

In [108]:
# Convert float to string
float_value = 9.28
string_value = str(float_value)  # float_value storing 9.28 is converted to string and stord in string_value
print(string_value)
print(type(string_value))

9.28
<class 'str'>

#### 4. List (list()) : Used To converts an iterable object (like a tuple or a string) to a list object.

In [109]:
# Convert tuple to list
tuple_value = (1, 2, 3)
list_value = list(tuple_value)  # list_value is [1, 2, 3]
print(list_value)
print(type(list_value))

[1, 2, 3]
<class 'list'>

In [110]:
# Convert string to list
string_value = "Ronaldo"
list_from_string = list(string_value)  # list_from_string is ['R', 'o', 'n', 'a', 'l', 'd', 'o']
print(list_from_string)
print(type(list_from_string))

['R', 'o', 'n', 'a', 'l', 'd', 'o']
<class 'list'>

#### 5. Tuple (tuple()) : Converts an iterable object to a tuple object.

In [111]:
# Convert list to tuple
list_value = [1, 2, 3, 4, 5]
tuple_from_list = tuple(list_value)  # tuple_from_list is (1, 2, 3,4,5)
print(tuple_from_list)
print(type(tuple_from_list))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [113]:
# Convert string to tuple
string_value = "Ronaldo"
tuple_from_string = tuple(string_value)  # tuple_from_string is ('R', 'o', 'n', 'a', 'l', 'd', 'o')
print(tuple_from_string)
print(type(tuple_from_string))

('R', 'o', 'n', 'a', 'l', 'd', 'o')
<class 'tuple'>

#### 6. Set (set()) : Converts an iterable object to a set object.

In [114]:
# Convert list to set
list_value = [1, 2, 3, 3, 2]
set_from_list = set(list_value)  # set_from_list is {1, 2, 3} (duplicates are removed)
print(set_from_list)
print(type(set_from_list))

{1, 2, 3}
<class 'set'>

In [120]:
# Convert string to set
string_value = "Ronaldo"
set_from_string = set(string_value)  # set_from_string is {'R', 'o', 'n', 'a', 'l', 'd'} (Set in python is unordered)
print(set_from_string)
print(type(set_from_string))

{'l', 'd', 'o', 'n', 'a', 'R'}
<class 'set'>

#### Conclusion:
#### Type casting helps in managing and manipulating different types of data in a Python program, ensuring compatibility and correctness in operations and function calls.

_____________________________

## Question-6 : How do conditional statements work in Python? Illustrate with examples.

### Solution :

#### Conditional statements can be defined as statements in Python that allow you to execute certain blocks of code based on whether a condition is true or false. They help in making decisions in our programs. The primary conditional statements in Python are 'if', 'elif', and 'else'. Also, we have Nested Conditional Statements.

#### 1. 'if' Statement 
#### The 'if' statement evaluates a condition (an expression that returns a boolean value: True or False). If the condition is true, the block of code within the 'if' statement is executed.

In [133]:
# Example:

age = 26
if age >= 21:
    print("You are an adult.")

# In this example, the condition `age >= 18` is true, so the message "You are an adult." is printed.

You are an adult.

#### 2. 'elif' Statement
#### The 'elif' statement evaluates a condition, provided it is not executd by 'if' block and return a boolean value True/Falue. If condition evaluated in 'elif' statement is True, then block of code within the 'elif' block is executed.

In [134]:
# Example:

age = 12
if age >= 21:
    print("You are an adult.")
    
elif age < 21 and age >= 5:
    print("You are not adult")

# In this example, the condition 'age>=18' is flase. So, 'if' block will not be executed. 
# So, it goes to 'elif' statement and check the condition i.e., age < 21 and age >= 5 
# return True (True and True is True)."""
# So, the 'elif' block will be executed and the message "You are not an adult" is printed"""

You are not adult

#### 3. 'else' Statement

#### The 'else' statement is used to execute a block of code when none of the preceding conditions ('if' or 'elif') are true.

In [135]:
# Example

score = 35
if score >= 90:
    print("You have got distinction")

elif score < 90 and score > 50:
    print("You Passed the examination")
    
else:
    print("You are not qualified")
    
# In this example, 'if' statement will return  False.
# So, code within 'if' block will not be executed.
# Also, when it passes to 'elif' statement, it return False.
# So, code within 'elif' block will not be executed.
# Now, as preceding conditions are False. Therefore, code with 'else' block will be executed.
# And, the message "You are not qualified" will be printed.

You are not qualified

#### 4. Nested Conditional Statements

#### In nested conditional statements, we execute the statements under statement an return return a boolean value. If return boolean value is True then, the code with the nested conditional statements will be executed.

In [138]:
# Example:

weather = "sunny"
study_status = "completed"

if weather == 'sunny':
    if study_status == 'completed':
        print("You can go and play cricket")
    else:
        print("Please complete your study")
else:
    print("stay at home")
    
# In this example, 'if' statement checks the condition and return True value.
# But, again 'if' statement is present within 'if' block.
# So, again it will check the statement and return True value.
# THerfore, the 'if' block with the 'if' block will be executed and a message "You can go and play cricket" will be printed.

You can go and play cricket

#### Conclusion :

#### Conditional statements in Python helps to control the flow of our program by executing different blocks of code based on certain conditions. These include 'if', 'elif' and 'else', and can be nested to handle complex logic.

____________________________

## Question-7 : Describe the different types of loops in Python and their use cases with examples.

### Solution :

#### In Python, we have two main types of loops: 'for' loop and 'while' loop. Each serves different purposes depending on the use case.

#### 1. 'for' loop

#### A 'for' loop in Python is used to iterate over a sequence (like a list, tuple, dictionary, set, or string) or any other iterable object.
- It's commonly used when you know the number of iterations in advance (e.g., when you are iterating over a collection or a range of numbers).

Syntax :

for variable in iterable:
    # code block

#### Example 1: Iterating over a list

In [142]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

#### Example 2: Using 'range()'

In [143]:
for i in range(5):  # 'i' will take values from 0 to 4 (by default, starting value of 'i' is 0)
    print(i)

0
1
2
3
4

#### Use Cases :

- When you want to iterate over the elements of a collection or use a known range of values.
- Ideal for traversing through lists, dictionaries, and tuples, or generating sequences.

#### 2. 'While' loop

####  A 'while' loop continues to execute as long as a given condition is true.
   - It's generally used when the number of iterations is not known in advance, and you need the loop to run until a specific condition changes.

Syntax :
    
while condition:
    # code block

#### Example 1: Basic 'while' loop

In [144]:
count = 0
while count < 5:
    print(count)
    count += 1
    
# In this example, code eithin while block will be executed until the condition is false.
# So, 0,1,2,3,4 will be printed one by one.

0
1
2
3
4

#### Example 2: 'while' loop with user input

In [145]:
user_input = ""
while user_input != "exit":
    user_input = input("Enter your choice (type : exit to stop)")
    if user_input != "exit":
        print("Your entered choice is ", user_input)
        
print("You have exited the loop")

# In this example, we are taking user input and storing them in user_input variable.
# In while loop, we are checking if the user_input is not 'exit'. 
# Till this condition satisfy, we will keeping taking user_input.
# Once, user entered 'exit'. 
# While condition doesn't satisfy and a message "You have exited the loop" will be printed.

Enter your choice (type : exit to stop) start

Your entered choice is  start

Enter your choice (type : exit to stop) exit

You have exited the loop

#### Use Cases :

- When you want to repeat a task until a condition is met, and you are not sure how many times the loop should run in advance.
- Suitable for cases like user input validation, waiting for some event, or performing repeated actions.

#### 3. Nested Loops

#### Nested loops can be defined as a loop within another loop.

#### Example : Nested foor loop

In [149]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

#### Use Cases :

- When working with multi-dimensional data structures like matrices or tables, where you need to iterate through each element in rows and columns.
- When we need to draw any patterns

#### 4. Control Flow Statements : 'Break', 'Continue', 'Pass' Statements

#### 4.1 Break Statement

#### Used to exit the loop.

In [151]:
# Example 

for i in range(5):
    if i == 3:
        break
    print(i)
    
# In this example, the foor loop will continue to execute but when 'i' value is 3 then the it will exit the loop.
# So, in output we will be getting 0,1,2

0
1
2

#### 4.2 Continue Statement

#### Skips the current iteration and moves to the next one.

In [152]:
# Example for i in range(5):
for i in range(5):
    if i == 3:
        continue
    print(i)
    
# In this esxample, during the execution of for loop, when 'i' is equal to 3 then, it skips the iteration and passes to the next one.
# o, the output will be 0,1,2,4.

0
1
2
4

#### 4.3 Pass Statement

#### Does nothing, just serves as a placeholder.

In [154]:
# Example: 

for i in range(5):
        pass  # Placeholder, does nothing
    
# In this example, pass statement will execute the for loop without giving the error message.
# This is one the best advantage of using pass statement.
# While developing the blue print, pass statements is quite usefull.